PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=https://base-sepolia.infura.io/v3/YOUR_INFURA_KEY

USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
AAVE_POOL_ADDRESS=0x8bAB6d1b75f19e9eD9fCe8b9BD338844fF79aE27
COMPOUND_COMET_ADDRESS=

INITIAL_OWNER_ADDRESS=
TREASURY_ADDRESS=

VAULT_NAME=Yield Optimizer Vault
VAULT_SYMBOL=yoUSDC
